@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
}
html,body{
    background-color: darkgray;
    min-height: 100vh;
    font-family: var(--fonte1);
}
header{
    background-color: rgb(255, 196, 0);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-variant: small-caps;
    gap: 0px;
    font-family: var(--fonte2);
}
header > h1{
    font-size: 7vw;
}
header > p{
    padding: 0px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;  
}

body > header a, body > main a, body > footer a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
a:hover{
    color: gray;
}
main{
    min-width: 300px;
    margin: auto;
    text-align: justify;
}

section{
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 30px;
    line-height: 2em;
    gap: 1px;
}
section.normal{
    background-color: white;
    flex-direction: row-reverse;
    flex-direction: column;
    align-items: center;
}
section.imagem{
    background-color: coral;
    padding-right: 30px;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.518);
    background-size: cover;
    background-attachment: fixed;

}
section.imagem > p{
    color: white;
    border-radius: 3px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.488);
}
section.normal > p{
    color: black;
    border-radius: 3px;
}
section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}
section#img02{
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
}
p{
    display: flex;
    flex-direction: column;
    width: 40vw;
    padding: 10px;
    text-align: center;
    font-family: var(--fonte3);
    font-size: 2vw;
    font-size: 2vh;
}

footer{
    background-color: rgb(255, 196, 0);
    width: 100%;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    justify-content: center; 
    font-size: x-small;
    font-family: var(--fonte2);
}

footer h1{
    text-align: center;
}